lora_samples/gen_69.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="root" type="rootType" /><xs:complexType name="rootType"><xs:sequence><xs:element name="ele1" type="elementType1" minOccurs="0" maxOccurs="unbounded"/><xs:element name="ele2" type="elementType2" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType><xs:complexType name="elementType1"><xs:sequence><xs:element name="subElement1" type="rootType" minOccurs="0" maxOccurs="unbounded"/></xs:sequence><xs:attribute name="attr1" type="xs:string"/></xs:complexType><xs:complexType name="elementType2"><xs:sequence><xs:element name="subElement2" type="rootType" minOccurs="0" maxOccurs="unbounded"/></xs:sequence><xs:attribute name="attr2" type="xs:string"/></xs:complexType></xs:schema>