lora_samples/gen_13.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="root"><xs:complexType><xs:sequence><xs:element name="foo" type="xs:string"/><xs:element name="bar" type="xs:string"/><xs:element name="zot" type="xs:string" minOccurs="0"/><xs:element name="aad" type="xs:duration" default="P1Y10DT10H" /></xs:sequence><xs:attribute name="prec" type="xs:precision" use="required"/><xs:assert test="@prec"/><xs:assert test="string-length(zot) gt 0"/></xs:attribute></xs:complexType></xs:element>