lora_samples/gen_36.xml

<?xml version=1.0 encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="doc"><xs:complexType><xs:sequence><xs:element ref="para" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element><xs:element name="para"><xs:complexType><xs:simpleContent><xs:extension base="xs:string"><xs:attribute ref="id" use="required"/></xs:extension></xs:simpleContent></xs:complexType></xs:element><xs:attribute name="id" type="xs:ID" fixed="para001"/></xs:schema>