lora_samples/gen_32.xml

<?xml version=1.0 encoding=ISO-8859-1?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:element name="doc"><xsd:complexType><xsd:choice><xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/></xsd:choice></xsd:complexType></xsd:element><xsd:complexType name="Regex"><xsd:attribute name="att"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:pattern value="\p{IsEnclosedAlphanumerics}"/></xsd:restriction></xsd:simpleType></xsd:attribute></xsd:complexType></xsd:schema>