lora_samples/gen_71.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="product" type="xs:duration"/><xs:element name="listOfProducts" type="listOfProducts" /><xs:complexType name="listOfProducts"><xs:complexContent><xs:extension base="product"><xs:sequence><xs:element name="child" type="product"/></xs:sequence><xs:attribute name="count" type="xs:integer"/><xs:assert test="@count eq 0"/></xs:extension></xs:complexContent></xs:complexType></xs:schema>