lora_samples/gen_63.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="root" type="ct"/><xs:complexType name="ct"><xs:sequence><xs:element name="a" type="xs:string"/><xs:any namespace="##local" processContents="strict" minOccurs="0"/></xs:sequence></xs:complexType><xs:element name="a" type="xs:string"/></xs:schema>