lora_samples/gen_81.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://xstest-tns/schema11_D4_3_15"
           elementFormDefault="qualified"><xs:element name="root"><xs:complexType><xs:sequence><xs:element ref="t" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element><xs:element name="t"><xs:complexType><xs:sequence><xs:element name="e" type="xs:dateTime"/></xs:sequence></xs:complexType></xs:element></xs:schema>