lora_samples/gen_27.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="product" type="xs:anyType" /><xs:element name="order" type="xs:anyType" /><xs:complexType name="address"><xs:sequence><xs:element name="name" type="xs:string"/><xs:element name="street" type="xs:string"/><xs:any namespace="##local" processContents="strict"/></xs:sequence></xs:complexType><xs:complexType name="notes"><xs:sequence><xs:element name="note" type="xs:string"/></xs:sequence></xs:complexType><xs:complexType name="type"><xs:complexContent><xs:extension base="address"><xs:sequence><xs:element name="note" type="notes"/></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:element name="order" type="type"/></xs:schema>