lora_samples/gen_26.xml

<?xml version=1.0 encoding=ISO-8859-1?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:element name="doc"><xsd:complexType><xsd:choice><xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/></xsd:choice></xsd:complexType></xsd:element><xsd:simpleType name="Regex"><xsd:restriction base="xsd:string"><xsd:pattern value="\p{IsYiSyllables}"/></xsd:restriction></xsd:simpleType></xsd:schema>