lora_samples/gen_94.xml

<?xml version=1.0 encoding="UTF-8"?><xsd:schema
  xmlns="ElemDecl/substGroupExclusions"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/substGroupExclusions"
  elementFormDefault="qualified"><xsd:element name="root"><xsd:complexType><xsd:sequence><xsd:element ref="Head" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="Head" type="HeadType" final="extension"/><xsd:complexType name="HeadType"><xsd:sequence><xsd:element name="Ear"/><xsd:element name="Eye"/></xsd:sequence></xsd:complexType><xsd:element name="Member3" type="HeadType" substitutionGroup="Head"/></xsd:schema>