lora_samples/gen_42.xml

<?xml version=1.0 encoding=UTF-8?><xsd:schema
  xmlns="ElemDecl/valueConstraint"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/valueConstraint"><xsd:element name="root"><xsd:complexType><xsd:sequence><xsd:element ref="root" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="Root" type="xsd:string" default="alpha" /><xsd:simpleType name="derivedFromString"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>