lora_samples/gen_83.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="root" type="rootType" /><xs:complexType name="rootType"><xs:sequence><xs:element name="ele" type="xs:string" /></xs:sequence><xs:attribute name="date" type="xs:date" default="2010-03-15"/><xs:assert test="date() eq 2010-03-15" /></xs:complexType></xs:schema>