lora_samples/gen_91.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:complexType name="base"><xs:sequence><xs:choice maxOccurs="2"><xs:element name="a" type="xs:string" /><xs:element name="b" type="xs:string" /></xs:choice></xs:sequence></xs:complexType><xs:element name="derived"><xs:complexType><xs:complexContent><xs:restriction base="base"><xs:sequence><xs:element name="a" type="xs:string" maxOccurs="3"/></xs:sequence></xs:restriction></xs:complexContent></xs:complexType></xs:element></xs:schema>