lora_samples/gen_74.xml

<?xml version=1.0 encoding="UTF-8"?><xsd:schema
  xmlns="ElemDecl/disallowedSubst"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/disallowedSubst"
  elementFormDefault="qualified"
  ><xsd:element name="root"><xsd:complexType><xsd:sequence><xsd:element ref="Head" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="Head" type="HeadType"/><xsd:element name="ElementI1" type="HeadType" block="substitution restriction extension #illegalValue"/><xsd:complexType name="HeadType"><xsd:sequence><xsd:element name="Ear"/><xsd:element name="Eye"/></xsd:sequence></xsd:complexType></xsd:schema>