lora_samples/gen_31.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="a" type="xs:integer" /><xs:element name="b" type="xs:integer" substitutionGroup="a" /><xs:element name="root"><xs:complexType><xs:all><xs:element ref="a" /><xs:element ref="b" maxOccurs="unbounded" /></xs:all></xs:complexType></xs:element></xs:schema>