lora_samples/gen_17.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="product" type="xs:IDREFS" /><xs:complexType name="B"><xs:sequence><xs:element name="child_1" type="xs:string" /></xs:sequence><xs:anyAttribute namespace="##local"/></xs:complexType><xs:complexType name="R"><xs:complexContent><xs:restriction base="B"><xs:sequence><xs:element name="child_1" type="xs:string" /></xs:sequence><xs:anyAttribute namespace="##other"/></xs:restriction></xs:complexContent></xs:complexType><xs:element name="root"><xs:complexType><xs:complexContent><xs:restriction base="R"><xs:sequence><xs:element ref="product" /><xs:element ref="product" /></xs:sequence></xs:restriction></xs:complexContent></xs:complexType></xs:element></xs:schema>