lora_samples/gen_65.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:complexType name="base"><xs:sequence><xs:element name="bar" minOccurs="0" maxOccurs="unbounded" 
type="xs:string"/></xs:sequence></xs:complexType><xs:element name="foo"><xs:complexType><xs:complexContent><xs:restriction base="base"><xs:sequence><xs:element name="bar" minOccurs="0" maxOccurs="unbounded" 
type="xs:string"/></xs:sequence></xs:restriction></xs:complexContent></xs:complexType></xs:element></xs:schema>