lora_samples/gen_58.xml

<?xml version=1.0 encoding=UTF-8?><xsd:schema
  xmlns="ElemDecl/name"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/name"><xsd:element name="root"/><xsd:element name="Main" type="xsd:boolean"/><xsd:element name="Global"><xsd:complexType><xsd:sequence><xsd:element ref="Main" block="#all"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>