lora_samples/gen_45.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="root" type="ct"/><xs:complexType name="ct"><xs:sequence><xs:element name="a" type="xs:string"/><xs:element name="b" type="xs:string"/><xs:element name="c" type="xs:string"/><xs:any notQName="##definedSibling" processContents="skip" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:schema>