lora_samples/gen_75.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="product" type="ProductType"/><xs:complexType name="ProductType"><xs:sequence><xs:element name="child_1" type="xs:string"/><xs:element name="child_2" type="xs:string"/></xs:sequence><xs:attribute name="attribute_1" type="xs:date"/><xs:attribute name="attribute_2" type="xs:decimal"/></xs:complexType></xs:schema>