lora_samples/gen_29.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="root"><xs:complexType><xs:choice minOccurs="0" maxOccurs="unbounded"><xs:element ref="keyElement"/><xs:element ref="keyrefElement"/></xs:choice></xs:complexType><xs:key name="keyName"><xs:selector xpath=".//keyElement"/><xs:field xpath="@keyID"/></xs:key></xs:element><xs:element name="keyElement"><xs:complexType><xs:attribute name="keyID" type="xs:string"/></xs:complexType></xs:element><xs:element name="keyrefElement"><xs:complexType><xs:attribute name="keyID" type="xs:string"/><xs:keyref name="keyName" refer="keyName"><xs:selector xpath=".//keyElement"/><xs:field xpath="@keyID"/></xs:keyref></xs:complexType></xs:element></xs:schema>