baseline_samples/gen_1.xml

<xs:schema version="1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-TranslationSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="User" type="xs:User">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:integer" />
        <xs:element name="name" type="xs:required" />
        <xs:element name="email" type="xs:required" />
        <xs:element name="password" type="xs:required" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRegistration" type="xs:UserRegistration" />
  <xs:element name="UserLogin" type="xs:UserLogin" />
  <xs:element name="UserUpdate" type="xs:UserUpdate" />
  <xs:element name="UserDelete" type="xs:UserDelete" />
</xs:schema>