baseline_samples/gen_67.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://ns.example.com">
  <xs:element name="Person" type="ns:Person">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs: string" />
        <xs:element name="age" type="xs: integer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>